extends layout.pug

block content
  div.wrapper
    header.header
      a.header__logo.logo(href='/')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__registration(href='/registration') Регистрация
          li.header__list-item
            a.header__enter(href='/login') Вход с паролем
      a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.

        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            - var index = categories.findIndex((it) => it.title === category.title)
            li.themes__item
              a.themes__item-link(href=`/articles/category/${index + 1}`)
                | #{category.title}
                sup 88
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое
            span.hot__icon.hot__icon--fire
          ul.hot__list
            each article in sortedByQtyOfComments
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)
                  | #{article.title}
                  sup.hot__link-sup #{article.comments.length}
        section.main-page__last.last
          h2.last__name
            | Последние комментарии
            span.last__icon.last__icon--cloud
          ul.last__list
            each comment in sortedByDateComments
              li.last__list-item
                img.last__list-image(src='/img/avatar-small-1.png' width='20' height='20' alt='Аватар пользователя')
                b.last__list-name Анна Артамонова
                a.last__list-link(href=`/articles/${comment[`article_id`]}`)= comment.text
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each article in articles
            li.preview__item
              ul.preview__breadcrumbs
                each category in article.category
                  - var index = categories.findIndex((it) => it.title === category.title)
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=`/articles/category/${index + 1}`)= category.title
              .preview__background
                img.preview__background-image(src=`/img/${article.picture}` width='460' height='240' alt=`${article.announce}`)
              time.preview__time(datetime=article[`created_date`])
                +time(new Date(article[`created_date`]))
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`)= article.title
              p.preview__text= article.announce
              a.preview__comment(href=`/articles/${article.id}#postcomments`)
                | Комментарии
                span.preview__cloud
                |
                b.preview__comment-count= article.comments.length
      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          li
            a.pagination__button.button.button--backwards.button--disabled(href='#' aria-label='Страница назад') Назад
          li.pagination__item.pagination__item--active
            a(href='#') 1
          li.pagination__item
            a(href='#') 2
          li.pagination__item
            a(href='#') 3
          li.pagination__item
            a(href='#') 4
          li.pagination__item
            a(href='#') 5
          li
            a.pagination__button.button.button--forward(href='#' aria-label='Страница вперед') Вперед
    include partials/footer.pug
